# Database (Neon PostgreSQL)
DATABASE_URL="postgresql://username:password@ep-xxx.us-east-1.postgres.vercel-storage.com/dbname?sslmode=require"
DIRECT_URL="postgresql://username:password@ep-xxx.us-east-1.postgres.vercel-storage.com/dbname?sslmode=require"

# Next.js
NEXTAUTH_SECRET="your-secret-key"
NEXTAUTH_URL="http://localhost:3000" 